.main-l {
    display: flex;
    justify-content: center;
}
.from-main {
    margin: auto 0 !important;
    margin-left: 700px !important;
}

.main-l img {
    margin: auto 0;
    margin-left: 40px;
}
.main-l span span {
    cursor: pointer;
}
